<div class="input-wrapper" [formGroup]="form">
  <label [for]="formInput?.name">{{ formInput?.label }}: </label>
  @if(formInput?.type === 'textArea'){
  <textarea
    [id]="formInput?.name"
    [class.error-border]="formInput?.error"
    (input)="onInputChange($event)"
    [formControlName]="formInput?.name"
  ></textarea>
  }@else {
  <input
    [id]="formInput?.name"
    [type]="formInput?.type"
    [class.error-border]="formInput?.error"
    (input)="onInputChange($event)"
    [formControlName]="formInput?.name"
  />
  } @if(formInput?.error) {
  <p class="error-message">{{ formInput?.errorMessage }}</p>
  }
</div>
