.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--bright-blue);
  border-radius: 0.5rem;
  gap: 1rem;

  button {
    border: 1px solid var(--bright-blue);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--bright-blue);
    cursor: pointer;
  }
}
